body{
    margin: 0;
    padding: 0;
    background-color: #100028;
    color: white;
    font-family: "Roboto", sans-serif;
}

header{
    height: 650px;
    padding-top: 30px;
    background-image: url(img/header_background.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

nav{
    display: flex;
    justify-content: space-between;
}

p{
    color: #ADADAD;
}

.centar{
    width: 70%;
    margin: auto;
}

.general_button{
    display: inline-block;
    position: relative;
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
    padding: 14px 32px 12px;
    font-size: 20px;
    z-index: 1;
}

.general_button::after{
    position: absolute;
    left: 0;
    top: 0;
    height: 30px;
    width: 30px;
    border-left: 2px solid #00bfe7;
    border-top: 2px solid #00bfe7;
    content: "";
    z-index: -1;
}

.general_button::before{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 30px;
    width: 30px;
    border-right: 2px solid #00bfe7;
    border-bottom: 2px solid #00bfe7;
    content: "";
    z-index: -1;
}

/*
 * TODO - make animation after hovering a button
.general_button:hover{
    border: 2px solid #00bfe7;
}
*/


.links{
    padding: 5px 10px 0px 10px;
    border-right: 0.5px solid grey;
}

.links span{
    margin: 0 10px;
    padding-bottom: 5px;
}

.links span:nth-child(1){
    border-bottom: 2px solid #00bfe7;
}

.links span:hover{
    border-bottom: 2px solid #00bfe7;
}

.icons{
    padding: 5px 10px 0px 10px;
}

.icons i{
    color: white;
    margin: 0 10px;
}

.header_menu{
    margin-top: 40px;
    height: 50px;
    width: 100%;
    background-color: #4C4C4C;
    position: relative;
}

.menu_button{
    float: right;
    margin: 10px;
    padding: 5px;
    background-color: #222222;
}

.menu_button h3{
    display: inline;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
}

.header_main{
    width: 40%;
    margin-top: 100px;
}

.header_main h3{
    font-size: 15px;
    margin: 20px 0;
}

.header_main h1{
    margin: 20px 0;
    font-size: 60px;
}

.header_button{
    margin-top: 20px;
}

.header_box{
    display: inline-block;
    font-size: 18px;
    padding: 0;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    margin: 8px;
    margin-top: 100px;
}

.animations{
    margin: 100px auto;
    display: flex;
}

.animations_levo h3{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0 0 6px;
}

.animations_levo h1{
    font-size: 38px;
    position: relative;
    padding: 0 0 25px;
}

.animations_levo h1:after {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 70px;
    background: #00bfe7;
    content: "";
}

.animations_levo p{
    padding: 0px 0px 45px;
    width: 400px;
}

.animations_desno{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.option{
    width: 350px;
    margin-bottom: 30px;
}

.icon_box{
    border: 2px solid #00bfe7;
    width: 70px;
    height: 70px;
    transition: 1s;
}

.icon_box i {
    font-size: 40px;
    margin: 13px 0 0 15px;
    transition: 1s;
}

.option:hover .icon_box{
    transform: rotate(45deg);
}

.option:hover .icon_box i{
    transform: rotate(-45deg);
}

.videos{
    display: grid; 
    height: 600px;
    width: 100%;
    gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
	"slika1 slika1 slika2 slika3 slika4 slika4"
	"slika5 slika6 slika7 slika7 slika4 slika4"
}

.slika{
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.slika1{
    background-image: url("img/videos_background_01.webp");
    grid-area: slika1;
}

.slika2{
    background-image: url("img/videos_background_02.webp");
    grid-area: slika2;
}

.slika3{
    background-image: url("img/videos_background_03.webp");
    grid-area: slika3;
}

.slika4{
    background-image: url("img/videos_background_04.webp");
    grid-area: slika4;
}

.slika5{
    background-image: url("img/videos_background_05.webp");
    grid-area: slika5;
}

.slika6{
    background-image: url("img/videos_background_06.webp");
    grid-area: slika6;
}

.slika7{
    background-image: url("img/videos_background_07.webp");
    grid-area: slika7;
}

.hover_img{
    position: absolute;
    background-color: rgb(0,0,0, 0.6);
    width: 100%;
    bottom: 0;
    height: 0;
    transition: 0.2s;
}

.hover_img h1{
    margin-bottom: 5px;
}

.hover_img p{
    margin-top: 0px;
}

.text_hover{
    margin-left: 30px;
    font-size: 0;
}

.slika1:hover .hover_img,
.slika4:hover .hover_img,
.slika7:hover .hover_img
{
    height: 80px;
}

.slika1:hover .hover_img .text_hover,
.slika4:hover .hover_img .text_hover,
.slika7:hover .hover_img .text_hover
{
    font-size: 15px;
}

.uglovi{
    width: 60%;
    margin: 300px auto 200px auto;
    display: flex;
    justify-content: space-evenly;
    height: 390px;
}


.uglovi_box{
    background-color: #1a083d;
    text-align: center;
    height: 250px;
    width: 250px;
    transform: rotate(45deg);
}

.uglovi_dole{
    margin-top: 90px;
    align-self: flex-end;
}

.uglovi_cont{
    transform: rotate(-45deg);
    margin-top: 30px;
}

.uglovi_box h1 {
    margin: 18px 0 6px;
    font-size: 60px;
}

.uglovi_box i {
    font-size: 50px;
    color: #00bfe7;
}

.uglovi_box_01:before{
    position: absolute;
    left: -1px;
    bottom: -2px;
    height: 643px;
    width: 636px;
    border-left: 1px solid #333;
    border-top: 1px solid #333;
    content: "";
    z-index: -1;
}

.uglovi_box_02:before{
    position: absolute;
    right: -47px;
    bottom: -47px;
    height: 643px;
    width: 636px;
    border-right: 1px solid #333;
    border-bottom: 1px solid #333;
    content: "";
    z-index: -1;
}

.uglovi_box_03:before{
    position: absolute;
    right: -47px;
    bottom: -47px;
    left: -47px;
    top: -47px;
    bottom: -2px;
    bottom: -2px;
    height: 350px;
    width: 350px;
    border: 1px solid #333;
    content: "";
    z-index: -1;
}

.team{
    height: 800px;
    width: 100%;
    background-image: url("img/team-bg.webp");
    background-repeat: no-repeat;
    position: relative;
}

.team_button{
    position: absolute;
    bottom: 90px;
    right: 260px;
}

.team_text{
    position: absolute;
    top: 90px;
}

.team_text h3{
    font-size: 16px;
    letter-spacing: 2px;
    margin: 0 0 6px;
}

.team_text h1{
    margin-top: 0;
    position: relative;
    font-size: 36px;
    letter-spacing: 2px;
    padding: 0 0 25px;
}

.team_text h1:after{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 70px;
    background: #00bfe7;
    content: "";
    z-index: 1;
}

.slike_cont{
    display: flex;
    position: absolute;
    top: 180px;
    position: relative;
}

.team_slika{
    height: 400px;
    width: 350px;
    background-color: black;
}

.team_slika1{
    margin-top: 100px;
    background-image: url("img/team-1.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.team_slika2{
    margin-top: 50px;
    background-image: url("img/team-2.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.team_slika3{
    background-image: url("img/team-3.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.team_slika4{
    margin-top: -50px;
    background-image: url("img/team-4.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.blog_centar{
    width: 20%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

.blog_centar h3{
    font-size: 18px;
    margin: 0 0 6px;
    letter-spacing: 3px;
    font-weight: 400;
}

.blog_centar h1{
    font-size: 36px;
    margin: 0 0 6px;
}

.blog_linija{
    width: 70px;
    height: 5px;
    background-color: #00bfe7;
    border-radius: 5px;
    margin: auto;
}

.blog_cont{
    display: flex;
    margin-top: 50px;
}

.blog_post{
    box-sizing: border-box;
    width: 400px;
    height: 420px;
    padding: 40px;
    margin: 10px;
    border: 1px solid #333;
}

.blog_post:hover{
    opacity: 0.7;
    border: 0px solid white;
    background-image: url("img/blog_1.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.blog_post p {
    line-height: 2;
}

.blog_post .date{
    margin: 20px 0px;
}

.read_more a{
    text-decoration: none;
    color: white;
}

.blog_krugovi{
    width: 6%;
    margin: 50px auto 100px auto;
    display: flex;
    justify-content: space-around;
}

.krug{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #FFFFFF;
}

.krug:nth-child(1){
    background-color: #00bfe7;
}

.dron{
    height: 470px;
    margin-bottom: 200px;
    background-image: url("img/dron_bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.dron_cont{
    width: 750px;
    margin: auto auto auto 400px;
    padding-top: 100px;
}

.dron_cont h1{
    font-size: 42px;
}

.dron_cont p{
    font-size: 18px;
    margin: 0 0 55px;
}

.dron_button a{
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    background-color: #00bfe7;
}
